<h1><%= I18n.t('general.latest_updates') %></h1>
<% @current_date = '' %>
<%= render(:partial => "shared/list_titles", 
           :collection => @all_content, 
           :locals => { :date_to_use => :updated_on }) %>
