<%= error_messages_for 'page' %>

<!--[form:page]-->
<p><label for="page_title">Title</label><br/>
<%= text_field 'page', 'title'  %></p>

<p><label for="page_body">Body</label><br/>
<%= text_area 'page', 'body', :cols=>80, :rows=>20  %></p>

<!--[eoform:page]-->

