<p><strong><%=h @page.title %></strong></p>
<p><%= auto_link(simple_format(@page.body)) %></p>

<p><strong>Created on:</strong> <%=h @page.created_on %></p>
<p><strong>Updated on:</strong> <%=h @page.updated_on %></p>

<%= link_to 'Edit', :action => 'edit', :id => @page %> |
<%= link_to 'Back', :action => 'list' %>
