<h3><%= "Editing comment:".t %></h3>

<%= error_messages_for :comment %>

<% form_for :comment, :url => {:controller => 'admin/main', :action => 'update_comment', :id => @comment} do |f| %>
	<p><strong><%= "Title:".t %></strong><br/><%= f.text_field :title %></p>
	<p><strong><%= "Your name:".t %></strong><br/><%= f.text_field :published_by %></p>
	<p><strong><%= "Comment:".t %></strong><br/><%= f.text_area :body, :cols=>60, :rows=> 10 %></p>
	<%= render(:partial => 'shared/captcha') %> 
	<%= submit_tag "Edit".t %>
<% end %>