<h3>Editing comment:</h3>

<%= error_messages_for :comment %>

<% form_for :comment, :url => {:controller => 'admin/main', :action => 'update_comment', :id => @comment} do |f| %>
	<p><strong>Title:</strong><br/><%= f.text_field :title %></p>
	<p><strong>Your name:</strong><br/><%= f.text_field :published_by %></p>
	<p><strong>Comment:</strong><br/><%= f.text_area :body, :cols=>60, :rows=> 10 %></p>
	<%= render(:partial => 'shared/captcha') %> 
	<%= submit_tag "Edit" %>
<% end %>