<h1>Admin</h1>

<p>Welcome to the admin.</p>

<ul>
	<li><%= link_to "View latest comments", latest_comments_path %></li>
	<li><%= link_to "Add or edit action alerts", admin_action_alerts_path %></li>	
	<li><%= link_to "Add or edit snippets", admin_snippets_path %></li>	
	<li><%= link_to "Add or edit content filters", admin_content_filters_path %></li>	
</ul>