
<!-- define a DIV into which the map will appear. Make it take up the whole window -->
<!-- Load this dynamically to ensure no traffic data is leaked. -->

<div id="locinfo">

<div style="width:500px; height:500px" id="map"></div>

</div>
