<ul>
<% for collective in collectives %>
	<li>
	  <p><%=link_to collective.name, group_url(collective) %></p>
	  <% if collective.image.nil? %>
	    <%= link_to image_tag("default_collective.jpg"), group_url(collective) %>
	  <% else %>
	    <%= link_to image_tag(collective.image.thumb), group_url(collective) %>
	  <% end %>
	</li>
<% end %>
</ul>