<li>
	<ul>
		<h2><%= external_feed.title %></h2>
<% 

    cached_feed_path = "#{RAILS_ROOT}/public/system/cache/feeds/collectives/#{external_feed.collective.id}/#{external_feed.id}.rhtml"
    if File.exists?(cached_feed_path)
      cached_feed = File.new(cached_feed_path).read
	else
	  cached_feed = I18n.t('collectives.external_feed')
    end

%>
<%= cached_feed %>

			
	</ul>	
</li>	


	
