<h1>Editing <%= @collective.name %></h1>

<%= error_messages_for :collective %>

<% form_for(:collective, :url => collective_path(@collective), :html => { :method => :put, :multipart => true }) do |f| %>

  <%= render :partial => "collectives/form", :locals => {:f => f} %>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<p>Back to <%= link_to "your account page", account_path %></p>