<h1><%= I18n.t 'collectives.index.title' %></h1>

<%= render :partial => "shared/collectives/collective_summary", :collection => @recently_active_collectives %>

<h1><%= I18n.t 'collectives.index.newest_groups' %></h1>

<%= render :partial => "shared/collectives/collective_summary", :collection => @new_collectives %>

<% content_for :sidebar do %>
	<%= render :partial => "collectives/sidebar/new_collective_box" %>
<% end %>