<p>Some general text can go here.</p>

<div>
	<p>Some text explaining when to publish an article can go here.</p>
	<p><%= link_to "Publish an article", new_article_url %></p>
</div>
<div>
	<p>Some text explaining when to publish a video can go here.</p>	
	<p><%= link_to "Publish a video", new_video_url %></p>
</div>
<div>
	<p>Some text explaining when to publish an event can go here.</p>	
	<p><%= link_to "Publish an event", new_event_url %></p>
</div>