<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <meta name="robots" content="index,follow" />
<title>
<%= Hyperactive.site_name %> | <%= @current_controller.humanize.capitalize %> | <%=@current_action.humanize.capitalize %> <%= " | " +  h(@page_title) unless @page_title.nil? %>
</title>
<%= stylesheet_link_tag 'default' %>
<%= auto_discovery_link_tag(:rss, :controller => 'feeds', :action => 'action_alerts') %>
</head>

<body>
<!-- start header -->
<div id="logo">
	<p><%= link_to image_tag("logo_greyscale.png"), root_path %></p>
	<h1><%= link_to "#{Hyperactive.site_name}", root_path %></h1>
</div>
<div id="menu">
	<ul id="main">
		<%= tab_for(I18n.t('layouts.home'), root_path, :controller_name => "home") %>
	</ul>
</div>
<!-- end header -->