<% if !@content.nil? %>
<ul>
    <li>
        <h2><%= image_tag "feed-icon-14x14.png" %><%= I18n.t 'events.sidebar.feedbox.title'%></h2>
        <p>
            <%= I18n.t('events.sidebar.feedbox.subscribe_message', 
               :upcoming_events_feed_path => 
                 link_to(I18n.t("events.sidebar.feedbox.upcoming_events_feed"), :controller => 'feeds', :action => 'upcoming_events'), 
               :feed_center_path => link_to(I18n.t("general.feed_center"), feed_center_path)
                )%>
        </p>
    </li>
</ul>
<% end %>
