<ul>
    <li>
        <h2><%= image_tag "date.png" %> <%= I18n.t("events.sidebar.ical.title") %></h2>
        <p>
        <%= I18n.t("events.sidebar.ical.description", :import_path => 
                   link_to(I18n.t("events.sidebar.ical.import") , :action => 'ical_download', :id => @content)
                  ) %>
        </p>
    </li>
</ul>        
