<% if current_user.has_role?("Admin")  %>
	<p><strong><%= I18n.t 'articles.stick_at_top_controls.title' %></strong></p>
	<p><%= I18n.t 'articles.stick_at_top_controls.explanation' %></p>
	<p><%= f.check_box :stick_at_top %><label for="content_stick_at_top"><%= I18n.t 'articles.stick_at_top_controls.label' %></label></p>
<% end %>