<div class="post">
<h2><%= link_to(collective_summary.name, group_path(collective_summary)) %></h2>
<p>
<% if collective_summary.image.nil? %>
  <%= image_tag "default_collective_small.jpg", :class => "left" %>
<% else %>
  <%= image_tag collective_summary.image.small, :class => "left" %>
<% end %>
<%= truncate(collective_summary.summary, 400) %>
</p>
</div>
