<h1><%= I18n.t('videos.archives.title') %></h1>
<%= render :partial => "videos/video_summary", :collection => @content unless @content.blank? %>
<hr/>
<%= page_links(@content) %>
<% content_for :sidebar do %>
	<%= render :partial => 'videos/sidebar/feedbox' %>
<% end %>

