<h1>Listing videos</h1>
<%= render :partial => "videos/video_summary", :collection => @content unless @content.blank? %>
<hr/>
<%= link_to("More videos", archive_videos_path(:page => 2)) %>
<% content_for :sidebar do %>
	<%= render :partial => 'videos/sidebar/feedbox' %>
<% end %>