<% if current_user.is_anonymous? %>
	<div id="captcha">
	  <h2>No robots!</h2>
	  <p>Until automated systems acheive a higher level of self-awareness and responsibility, 
	  we need you to prove your humanity by taking a little test that spambots are too stupid
	  to pass.%></p>
	  <%= show_simple_captcha(:label => "Please type the text from the image into the box below:") %>
	</div>  
<% end %>