<% if current_user.is_anonymous? %>
	<div id="captcha">
	  <h2><%= I18n.t 'shared.captcha.no_robots' %></h2>
	  <p><%= I18n.t 'shared.captcha.explanation' %></p>
	  <%= show_simple_captcha(:label => "Please type the text from the image into the box below:") %>
	</div>  
<% end %>
