<p>
	<%= I18n.t 'general.created_on' %>: <%= action_alert.created_on %><br/>
	<%= I18n.t 'general.updated_on' %>: <%= action_alert.updated_on %><br/>
	<%= I18n.t 'general.summary' %>: <%= action_alert.summary %><br/>
</p>
