<h1><%= I18n.t 'action_alerts.listing_action_alerts' %></h1>

<p>Reports directly from the streets, call <strong>07588 479 039</strong> to participate. Remember the 'who what when where why'.</p>

<p>This page contains only information which is believed to be confirmed by Indymedia London</p>

<%= render :partial => 'action_alerts/action_alert', :collection => @action_alerts %>

<%= page_links(@action_alerts) %>

