<% if !@featured_groups.nil? %>
	<div id="homepage-footer">
	  <h2><%= I18n.t 'home.index.featured_groups' %></h2>
      <div id="a-tribute-to-occam">
	  <%=render :partial => 'collectives/collective_preview', :collection => @featured_groups %>
      <div style="clear: both;"></div>
	  </div>
	</div>
<% end %>