<div class="content-nav-links">
  <%= link_to image_tag('icons/star.png') + ' featured events', featured_events_path(1) %>		
  <%= link_to image_tag('icons/rosette.png') + ' promoted events', promoted_events_path(1) %>			
  <%= link_to image_tag('icon_article.gif') + ' all events', events_path %>		
</div>