<h1>Editing event</h1>

<% form_for(:content, :url => event_path(@content), :html => { :method => :put, :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p><%= submit_tag 'Save changes' %></p>
<% end %>   
<p><%= button_to 'Delete this event', event_path(@content), :method => :delete, :confirm => 'Are you sure?' %></p>