<h1>Upcoming events</h1>
<%= render(:partial => "shared/content/list_summary", :collection => @content) %>
<%= page_links(@content) %>
<% content_for :sidebar do %>
	<%= render :partial => "events/sidebar/feedbox" %>
	<%= render :partial => "shared/content/sidebar/tag_cloud" %>	
<% end %>