<% if current_user.can_edit?(@content)  %>
<p>or</p>
<div>
	<strong>
	<%= link_to I18n.t('shared.content.edit_this_thing',
	    :class_name => @content.class.to_s.humanize),
	    :controller => @content.class.to_s.underscore.pluralize,
	    :action => 'edit',
	    :id => @content %>
	</strong>
</div>
<% end %>

