<% if @content.is_collectivized? %>
	<p>Published by group(s): 
		<ul>
			<% @content.collectives.each do |collective| %>
				<li><%= collective_link_to(collective) %></li>
			<% end %>
		</ul>
	</p>
<% end %>