<% if @content.photos.length > 0 %>
    <p><h3>Photos</h3></p>
    <% @content.photos.each do |photo| %>
        <p><%= link_to (image_tag photo.file.medium.url), photo.file.url %><br/>
        <strong><%=h photo.title %></strong>
        </p>
    <% end %>
<% end %>