<p><label for="content_place_tags">Neighbourhood tags - e.g. <em>brixton lambeth</em> or <em>elephant_and_castle</em></label><br/>
<%= text_field_tag 'place_tags', params[:place_tags] || @content.place_tag_list %></p>
