<div id="panel_report" class="panel">
<p><%= I18n.t('hidden.report.title') %></p>
<% form_remote_tag(:url => {:controller => :hidden, :action => :report, :id => @id }) do -%>
     <div class="editorial-note">
     <%= text_area_tag(:hide_reason, nil, :size => "50x3")%>
     </div>
     <%= submit_tag I18n.t('hidden.report.report') %>
 <% end %>
</div>