<h1>Hidden</h1>
<p>The following content has been hidden under the
<%= link_to "editorial guidelines", "/pages/editorial-guidelines" %>.</p>

<%= render(:partial => "/shared/content/list_summary", :collection => @content) %>
