<h1>Editing feed</h1>

<% form_for(:external_feed, :url => group_external_feed_path(@group, @external_feed), :html => {:method => :put}) do |f| %>
  
  <%= render :partial => 'form', :locals => {:f => f}  %>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', group_external_feeds_path(@group) %>
