<h1><%= I18n.t 'external_feeds.new.title' %></h1>

<% form_for(:external_feed, :url => group_external_feeds_path(@group)) do |f| %>
   
   <%= render :partial => 'form', :locals => {:f => f}  %>
   
    <%= f.submit I18n.t('general.create') %>
  </p>
<% end %>

<%= link_to I18n.t('general.back'), group_external_feeds_path(@group) %>
