<h1>New feed</h1>

<% form_for(:external_feed, :url => group_external_feeds_path(@group)) do |f| %>
   
   <%= render :partial => 'form', :locals => {:f => f}  %>
   
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', group_url(@group) %>
