<p><strong>Here's how the action alert will appear on the front page of the site:</strong></p>
<p><%= @action_alert.summary %></p>

<p><strong>Here's how the action alert will show up in a text message:</strong></p>
<p><%= @action_alert.description %></p>
