<%= error_messages_for 'category' %>

<!--[form:category]-->
<p><label for="category_name"><%= "Name".t %> </label><br/>
<%= text_field 'category', 'name'  %></p>

<p><label for="category_description"><%= 'Description'.t %></label><br/>
<%= text_area 'category', 'description'  %></p>

<p><label for="category_active"><%= 'Active'.t %></label><br/>
<%= check_box 'category', 'active'  %></p>

<p><label for="category_created_on"><%= 'Created on'.t %></label><br/>
</p>

<p><label for="category_updated_on"><%= 'Updated on'.t %></label><br/>
</p>
<!--[eoform:category]-->

