<% if !@content.post.nil? %>
<ul>
    <li>
        <h2><%= "Related #{@content.post.class.to_s.downcase}" %></h2>
        <p>
            <%= "This video was originally uploaded as part of the following #{@content.post.class.to_s.downcase}" %>.
        </p>
        <%= render :partial => 'shared/content/list_title', :object => @content.post %>
    </li>
</ul>
<% end %>