<% if !@content.post.nil? %>
<ul>
    <li>
        <h2><%= I18n.t('videos.sidebar.containing_content.related_title', :post_title => @content.post.class.to_s.downcase) %></h2>
        <p>
            <%= I18n.t('videos.sidebar.containing_content.explanation', :post_title => @content.post.class.to_s.downcase) %>.
        </p>
        <%= render :partial => 'shared/content/list_title', :object => @content.post %>
    </li>
</ul>
<% end %>


