<% if !@content.nil? %>
<ul>
    <li>
        <h2><%= image_tag "feed-icon-14x14.png" %> <%= I18n.t('videos.sidebar.feedbox.title') %></h2>
        <p>
                        <%= I18n.t('videos.sidebar.feedbox.explanation', 
		:video_path => url_for(video_feed_path),  
		:miro_path => link_to(I18n.t('videos.sidebar.feedbox.miro_link'), 'http://www.getmiro.com/features/'),
		:feed_path => link_to(I18n.t('videos.sidebar.feedbox.feed_link'), video_feed_path)
		) %>
        </p>
    </li>
</ul>
<% end %>


