<% if !@previous_videos.empty? %>
<ul>
    <li>
        <h2><%= I18n.t 'videos.sidebar.previous.title' %></h2>
        <ul>
            <%= render :partial => 'shared/content/list_title', :collection => @previous_videos %>
        </ul>
    </li>
</ul>
<% end %>
