<p><%= I18n.t 'shared.content.comments.allows_comments_controls.explanation' %></p>

<p><%= f.check_box :allows_comments %><label for="content_allows_comments"><%= I18n.t 'shared.content.comments.allow_comments' %></label> </p>