<p>
<strong><%= f.label :title %></strong><br />
<%= f.text_field :title %>
</p>
<p>
<strong><%= f.label :summary %></strong> - What is the filter for?<br />
<%= f.text_area :summary, :size => "50x3" %>
</p>
