<h2><%= 'Already Logged In'.t %></h2>

<p>
<%= 'You have already logged in. You have to log out before being able to
log in again.'.t %> <%= link_to 'Click here'.t, :action => 'logout' %> <%= 'to log
out.'.t %>
</p>