<h2><%= I18n.t 'active_rbac.login.already_logged_in' %></h2>

<p>
<%= I18n.t 'active_rbac.login.already_logged_in_explanation' %>
<%= link_to(I18n.t 'general.click_here', :action => 'logout' %>
<%= I18n.t 'active_rbac.login.to_log_out' %>
</p>