<h3><%= I18n.t 'active_rbac.logout_success_title' %></h3>

<p>
<%= I18n.t 'active_rbac.logout_success_message' %> <%= link_to I18n.t('general.click_here'), login_path %> <%= I18n.t('active_rbac.logout_login_again_message')%>.
</p>
