<%= render(:partial => 'layouts/common/header') %>

<!-- start page -->
<div id="page">
	<%= @content_for_layout %>
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<%= render :partial => 'layouts/common/footer' %>